### You must initialize the software each time you use     this notebook.
 1. First, check that the notebook is "Trusted" by looking     near the right of the Jupyter toolbars. If the notebook is not     trusted you need to click on the "not trusted" button and trust the notebook. **You should only trust notebooks that come from a *trusted source*, such as the class website.**
 2. The cell immediately below contains code that loads the software modules necessary for this notebook to run. It also collects some bookkeeping information that can be used for troubleshooting. **You must run this cell each time you use the notebook or later cells may not work.**
 3. If you are doing calculations that depend upon using variables passed from calculations done the previous time the notebook was opened, you will need to run those previous cells to redefine the variables.
 4. *DO NOT run cells that contain plot displays of live data collection, as that will restart the data collection.* You can reload data collected from the `.csv` files  written for each collection run. Ideally you would do this in a new notebook.

### You must initialize the software each time you use     this notebook.
 1. First, check that the notebook is "Trusted" by looking     near the right of the Jupyter toolbars. If the notebook is not     trusted you need to click on the "not trusted" button and trust the notebook. **You should only trust notebooks that come from a *trusted source*, such as the class website.**
 2. The cell immediately below contains code that loads the software modules necessary for this notebook to run. It also collects some bookkeeping information that can be used for troubleshooting. **You must run this cell each time you use the notebook or later cells may not work.**
 3. If you are doing calculations that depend upon using variables passed from calculations done the previous time the notebook was opened, you will need to run those previous cells to redefine the variables.
 4. *DO NOT run cells that contain plot displays of live data collection, as that will restart the data collection.* You can reload data collected from the `.csv` files  written for each collection run. Ideally you would do this in a new notebook.

In [8]:

import JPSLUtils
JPSLUtils.record_names_timestamp()
# Initialization -- Computer: jonathan-XPS-13-7390 | User: jonathan | Time: Thu Jul 15 11:15:25 2021
# Partners: Test1

In [6]:
# If no data table appears in the output of this cell, run the cell to display the table.

from IPython.display import HTML
try:
    import input_table
except (ImportError, FileNotFoundError) as e:
    print("Table editing will not work because `jupyter_datainputtable` module is not installed in python kernel")
display(HTML('<table class="input_table" id="it_1626365516611"><caption>Table 1</caption><tbody> <tr class="input_table r0">  <th class="input_table r0 c0"><select class="form-control table-actions" onchange="var lastvalue = this.value;this.value = &quot;Table Actions&quot;;if(lastvalue==&quot;Edit Data&quot;){edit_input_table(&quot;it_1626365516611&quot;);}if(lastvalue==&quot;Data to Pandas...&quot;){data_table_to_Pandas(&quot;it_1626365516611&quot;);}"><option title="Things you can do to this table.">Table Actions</option><option title="Start editing the data.">Edit Data</option><option title="Create a Panda DataFrame from table.">Data to Pandas...</option></select></th><th class="input_table r0 c1"><span class="table_label">Col_0</span></th><th class="input_table r0 c2"><span class="table_label">Col_1</span></th><th class="input_table r0 c3"><span class="table_label">Col_2</span></th> </tr> <tr class="input_table r1"><th class="input_table r1 c0"><span class="table_label">0</span></th>  <td class="input_table r1 c1"><span class="data_cell">a</span></td>  <td class="input_table r1 c2"><span class="data_cell">0.3</span></td>  <td class="input_table r1 c3"><span class="data_cell">up</span></td> </tr> <tr class="input_table r2"><th class="input_table r2 c0"><span class="table_label">1</span></th>  <td class="input_table r2 c1"><span class="data_cell">b</span></td>  <td class="input_table r2 c2"><span class="data_cell">0.2</span></td>  <td class="input_table r2 c3"><span class="data_cell">down</span></td> </tr></tbody></table>'))

In [7]:

Col_0=['a','b']
Col_1=[0.3,0.2]
Col_2=['up','down']
DF2= pd.DataFrame({"Col_0":Col_0,
    "Col_1":Col_1,
    "Col_2":Col_2,
    })
print('DataFrame `DF2`:')
DF2

DataFrame `DF2`:

  Col_0  Col_1 Col_2
0     a    0.3    up
1     b    0.2  down

In [5]:
import numpy as np # numpy not imported previously.
import pandas as pd # pandas not imported previously.
Col_0=[np.nan,np.nan]
Col_1=[np.nan,np.nan]
Col_2=[np.nan,np.nan]
DF1= pd.DataFrame({"Col_0":Col_0,
    "Col_1":Col_1,
    "Col_2":Col_2,
    })
print('DataFrame `DF1`:')
DF1

DataFrame `DF1`:

   Col_0  Col_1  Col_2
0    NaN    NaN    NaN
1    NaN    NaN    NaN